nav {
  text-align: center;
  padding: 1% 0 1% 20px;
  background-color: rgb(70, 168, 226);
  height: 80px;
  width: 100%;
  text-align: left;
}

.logo {
  font-size: 40px;
  font-weight: 100;
  color: black;
  
}

#red {
  color: rgb(240, 74, 74);
}
#pink {
  color: rgb(228, 228, 97);
}
#yellow {
  color: rgb(255, 125, 147);
}
#green {
  color: rgb(113, 240, 23);
}
#orange{
  color: orange;
}
#purple{
 color: rgb(189, 20, 189);
}
#brown{
  color:rgb(181, 76, 76);
}
#white{
 color:tomato;
}
#grey {
 color: goldenrod;
}
#dark {
 color: rgb(255, 127, 47);
}


.account_nav {
  float: right;
  font-size: 1.25em;
  color: black;
}



.right_nav, .left_nav {
  margin: 15px 0;
}
.right_nav {
  margin-left: 10px;
  margin-right: 20px;
}

nav > a {
  text-decoration: none; 
}

nav > a:hover {
  color: white;
}
